html {
  background: $color-cararra;
  color: $color-rangoon-green;
  font-size: 12px;
}

::-moz-selection {
  background-color: $color-twine-30 !important;
}

::selection {
  background-color: $color-twine-30 !important;
}

a {
  @extend %extend-1;

  span {
    @extend %extend-1;
  }
}
