.special-font-oswald {
  font-family: $font-0, $font-1;
}

.special-font-anonymous {
  font-family: $font-2;
}

.special-font-roboto {
  font-family: $font-3, $font-1;
}

.clearer {
  clear: both;
  float: none;
  height: 1px;
  overflow: hidden;
  width: 100%;
}
