.special-font-oswald {
  font-family: $font-family-oswald;
}

.special-font-anonymous {
  font-family: $font-family-anonymous;
}

.special-font-roboto {
  font-family: $font-family-roboto;
}

.clearer {
  clear: both;
  float: none;
  height: 1px;
  overflow: hidden;
  width: 100%;
}
