$color-rangoon-green: #1d1d1d;
$color-cararra: #edede6;
$color-twine-30: rgba(194, 148, 94, 0.3);
$color-tundora: #4d4843;
$white: #fff;
$color-storm-dust: #666;
$color-woodsmoke: #111;
$color-twine: #c2945e;
$color-mercury: #e7e7e8;
$color-chicago: #595959;
$black: #000;
$black-30: rgba(0, 0, 0, 0.3);
$black-10: rgba(0, 0, 0, 0.1);
$color-mongoose: #c2a376;
$font-0: Oswald;
$font-1: sans-serif;
$font-2: Anonymous Pro;
$font-3: Roboto Condensed;
$url-0: url('http://jovaconstruction.com/images/layout/gallery_share-icons.png');
$url-1: url('http://jovaconstruction.com/images/layout/header_btn-previous.png');
$url-2: url('http://jovaconstruction.com/images/layout/header_btn-next.png');
$url-3: url('http://jovaconstruction.com/images/layout/gallery_cursor.png');
$url-4: url('http://jovaconstruction.com/images/layout/header_logo.png');
$url-5: url('http://jovaconstruction.com/images/layout/icon_1-small-dark.png');
$url-6: url('http://jovaconstruction.com/images/layout/btn_arrow.png');
$url-7: url('http://jovaconstruction.com/images/layout/btn_arrow-inverted.png');
$url-8: url('http://jovaconstruction.com/images/layout/home_btn-scroll-down.png');
$url-9: url('http://jovaconstruction.com/images/layout/about_btn-scroll-down.png');
$url-10: url('http://jovaconstruction.com/images/layout/header_btn-menu.png');
$url-11: url('http://jovaconstruction.com/images/layout/header_btn-menu-txt.png');
$url-12: url('http://jovaconstruction.com/images/layout/header_bg.png');
$url-13: url('http://jovaconstruction.com/images/layout/header_cursor.png');
$url-14: url('http://jovaconstruction.com/images/layout/icon_1.png');
$url-15: url('http://jovaconstruction.com/images/layout/home_signature.png');
$url-16: url('http://jovaconstruction.com/images/layout/icon_3-light.png');
$url-17: url('http://jovaconstruction.com/images/layout/about_signature.png');
$url-18: url('http://jovaconstruction.com/images/layout/icon_4.png');
$url-19: url('http://jovaconstruction.com/images/layout/portfolio_icon-door.png');
$url-20: url('http://jovaconstruction.com/images/layout/icon_2.png');
$url-21: url('http://jovaconstruction.com/images/layout/bullet_dash.png');
$url-22: url('http://jovaconstruction.com/images/layout/icon_2-dark.png');
$url-23: url('http://jovaconstruction.com/images/layout/tips_btn-tools.png');
$url-24: url('http://jovaconstruction.com/images/layout/tips_btn-arrow.png');
$url-25: url('http://jovaconstruction.com/images/layout/bullet_dash-white.png');
$url-26: url('http://jovaconstruction.com/images/layout/contact_share-separator.png');
$url-27: url('http://jovaconstruction.com/images/layout/contact_share-fb.png');
$url-28: url('http://jovaconstruction.com/images/layout/contact_share-twitter.png');
$url-29: url('http://jovaconstruction.com/images/layout/contact_share-pinterest.png');
$url-30: url('http://jovaconstruction.com/images/layout/icon_3.png');
$url-31: url('http://jovaconstruction.com/images/layout/footer_separator.png');
$url-32: url('http://jovaconstruction.com/images/layout/footer_logo.png');

%extend-1 {
  transition-delay: 0s;
  transition-duration: 0.45s;
  transition-property: color, border-color, background, opacity;
  transition-timing-function: 'ease-in-out';
}

%extend-2 {
  transition-duration: 0.45s;
  transition-property: opacity;
  transition-delay: 1.25s;
  transition-timing-function: 'ease-in-out';
  display: block;
  position: relative;
  opacity: 0;
  filter: alpha(opacity=0);
}

%extend-3 {
  transition-duration: 0.45s;
  transition-property: opacity;
  transition-delay: 1.25s;
  transition-timing-function: 'ease-in-out';
  display: block;
  position: relative;
  opacity: 0;
  filter: alpha(opacity=0);
}

%extend-4 {
  transition-duration: 0.45s;
  transition-property: opacity;
  transition-delay: 0.75s;
  transition-timing-function: 'ease-in-out';
  opacity: 0;
  filter: alpha(opacity=0);
}

%extend-5 {
  font-family: $font-2;
  font-size: 14px;
  line-height: 28px;
}
