$c-black: #000;
$c-black-10: rgba($c-black, 0.1);
$c-black-30: rgba($c-black, 0.3);
$color-cararra: #edede6;
$color-chicago: #595959;
$color-mercury: #e7e7e8;
$color-mongoose: #c2a376;
$color-rangoon-green: #1d1d1d;
$color-storm-dust: #666;
$color-tundora: #4d4843;
$color-twine: #c2945e;
$color-twine-30: rgba($color-twine, 0.3);
$color-woodsmoke: #111;
$c-white: #fff;
$font-sans-serif: sans-serif;
$font-family-oswald: 'Oswald', $font-sans-serif;
$font-family-anonymous: 'Anonymous Pro', monospace;
$font-family-roboto: 'Roboto Condensed', $font-sans-serif;
$url-0: url('../images/layout/gallery_share-icons.png');
$url-1: url('../images/layout/header_btn-previous.png');
$url-2: url('../images/layout/header_btn-next.png');
$url-3: url('../images/layout/gallery_cursor.png');
$url-4: url('../images/layout/header_logo.png');
$url-5: url('../images/layout/icon_1-small-dark.png');
$url-6: url('../images/layout/btn_arrow.png');
$url-7: url('../images/layout/btn_arrow-inverted.png');
$url-8: url('../images/layout/home_btn-scroll-down.png');
$url-9: url('../images/layout/about_btn-scroll-down.png');
$url-10: url('../images/layout/header_btn-menu.png');
$url-11: url('../images/layout/header_btn-menu-txt.png');
$url-12: url('../images/layout/header_bg.png');
$url-13: url('../images/layout/header_cursor.png');
$url-14: url('../images/layout/icon_1.png');
$url-15: url('../images/layout/home_signature.png');
$url-16: url('../images/layout/icon_3-light.png');
$url-17: url('../images/layout/about_signature.png');
$url-18: url('../images/layout/icon_4.png');
$url-19: url('../images/layout/portfolio_icon-door.png');
$url-20: url('../images/layout/icon_2.png');
$url-21: url('../images/layout/bullet_dash.png');
$url-22: url('../images/layout/icon_2-dark.png');
$url-23: url('../images/layout/tips_btn-tools.png');
$url-24: url('../images/layout/tips_btn-arrow.png');
$url-25: url('../images/layout/bullet_dash-white.png');
$url-26: url('../images/layout/contact_share-separator.png');
$url-27: url('../images/layout/contact_share-fb.png');
$url-28: url('../images/layout/contact_share-twitter.png');
$url-29: url('../images/layout/contact_share-pinterest.png');
$url-30: url('../images/layout/icon_3.png');
$url-31: url('../images/layout/footer_separator.png');
$url-32: url('../images/layout/footer_logo.png');

%extend-1 {
  transition-delay: 0s;
  transition-duration: 0.45s;
  transition-property: color, border-color, background, opacity;
  transition-timing-function: 'ease-in-out';
}

%extend-3 {
  display: block;
  filter: alpha(opacity=0);
  opacity: 0;
  position: relative;
  transition-delay: 1.25s;
  transition-duration: 0.45s;
  transition-property: opacity;
  transition-timing-function: 'ease-in-out';
}

%extend-4 {
  filter: alpha(opacity=0);
  opacity: 0;
  transition-delay: 0.75s;
  transition-duration: 0.45s;
  transition-property: opacity;
  transition-timing-function: 'ease-in-out';
}

%extend-5 {
  font-family: $font-family-anonymous;
  font-size: 14px;
  line-height: 28px;
}
