@import '../variables';

.framed-block {
  position: relative;

  .frame {
    position: absolute;

    > div {
      background: $color-rangoon-green;
      overflow: hidden;
      position: absolute;
      transition-delay: 0s;
      transition-duration: 0.75s;
      transition-property: width, height;
      transition-timing-function: 'ease-in-out';
    }

    &.top {
      height: 4px;
      left: 0;
      top: 0;
      width: 100%;

      > div {
        height: 100%;
        left: 0;
        top: 0;
        width: 0;
      }
    }

    &.right {
      height: 100%;
      right: 0;
      top: 0;
      width: 4px;

      > div {
        height: 0;
        left: 0;
        top: 0;
        width: 100%;
      }
    }

    &.bottom {
      bottom: 0;
      height: 4px;
      right: 0;
      width: 100%;

      > div {
        height: 100%;
        right: 0;
        top: 0;
        width: 0;
      }
    }

    &.left {
      bottom: 0;
      height: 100%;
      left: 0;
      width: 4px;

      > div {
        bottom: 0;
        height: 0;
        left: 0;
        width: 100%;
      }
    }
  }

  .border {
    position: absolute;

    > div {
      background: $color-chicago;
      overflow: hidden;
      position: absolute;
      transition-delay: 0s;
      transition-duration: 0.75s;
      transition-property: width, height;
      transition-timing-function: 'ease-in-out';
    }

    &.top {
      height: 1px;
      left: 0;
      top: 0;
      width: 100%;

      > div {
        height: 100%;
        left: 0;
        top: 0;
        width: 0;
      }
    }

    &.right {
      height: 100%;
      right: 0;
      top: 0;
      width: 1px;

      > div {
        height: 0;
        left: 0;
        top: 0;
        width: 100%;
      }
    }

    &.bottom {
      bottom: 0;
      height: 1px;
      right: 0;
      width: 100%;

      > div {
        height: 100%;
        right: 0;
        top: 0;
        width: 0;
      }
    }

    &.left {
      bottom: 0;
      height: 100%;
      left: 0;
      width: 1px;

      > div {
        bottom: 0;
        height: 0;
        left: 0;
        width: 100%;
      }
    }
  }

  > .content {
    padding: 4px;
    position: relative;
  }

  &.loaded {
    > .border {
      > div {
        height: 100%;
        width: 100%;
      }
    }

    .frame {
      > div {
        height: 100%;
        width: 100%;
      }
    }
  }
}
