@import '../variables';

#header_btn-menu {
  background: $white $url-10 no-repeat center center;
  height: 178px;
  left: -84px;
  margin-top: -89px;
  position: fixed;
  top: 50%;
  transition-delay: 0s;
  transition-duration: 0.45s;
  transition-property: left;
  transition-timing-function: 'ease-in-out';
  width: 84px;
  z-index: 800;

  > span {
    display: block;
    height: 94px;
    left: 23px;
    overflow: hidden;
    position: absolute;
    top: 61px;
    width: 38px;

    > span {
      background: $white $url-11 no-repeat center center;
      display: block;
      height: 94px;
      position: relative;
      text-indent: -5000px;
      transform-origin: 0 50%;
      transform-style: preserve-3d;
      transition-delay: 0s;
      transition-duration: 0.45s;
      transition-property: all;
      transition-timing-function: 'ease-in-out';
      width: 38px;

      &::before {
        background: $color-storm-dust $url-11 no-repeat center center;
        content: attr(data-hover);
        display: block;
        height: 94px;
        left: 100%;
        position: absolute;
        text-indent: -5000px;
        top: 0;
        transform: rotatey(90deg);
        transform-origin: 0 50%;
        transition-delay: 0s;
        transition-duration: 0.45s;
        transition-property: background;
        transition-timing-function: 'ease-in-out';
        width: 38px;
      }
    }
  }

  &.loaded {
    left: 0;
  }

  &.hidden {
    left: -84px;
  }

  &.no-menu {
    left: -84px !important;
  }

  &:hover > span {
    > span {
      transform: rotatey(-90deg);

      &::before {
        background-color: $color-cararra;
      }
    }
  }
}

#header {
  background: $url-12;
  cursor: $url-13 21 21, auto;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 825;

  .card-container {
    &.home {
      .btn-previous {
        display: none;
      }

      .btn-next {
        display: none;
      }

      .menu {
        margin: 0;

        > li > a {
          .big {
            padding-left: 25px;
            text-align: left;
          }

          > span {
            &::before {
              padding: 0 25px;
              text-align: left;
            }
          }
        }
      }
    }
  }
}
